<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>
      <div class="row content">
        <p style="text-align: justify; font-size: 15px;">The project entitled "Chat Bot – Moratorium 
          Customers" to gather the data about why the customers have opted for moratorium. This is a web 
          application. We have developed a chatbot for easy communication. In today's time, 
          it is difficult to go to the bank and resolve the issue. By using our system the banker 
          will get all the information related to the customer who has opted for the moratorium. 
          The user will interact with the chatbot and give his/her responses. These responses will be 
          stored in the database and will be given to the banker, who will further analyze it. 
          The main purpose of this project is to help the banker to know whether the customer who has 
          applied for the moratorium is genuine or not. By this system, both the customer and the banker 
          can save their time.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;Team Members:</p>
        
        <div class="col-lg-6">
          <p>
            <ul  style="margin-left: 40%">
              <li><i class="ri-check-double-line"></i> Muzasarali Badger</li>
              <li><i class="ri-check-double-line"></i> Pranish Kumbhar</li>
            </ul>
          </p>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            <ul>
              <li></li>
              <li><i class="ri-check-double-line"></i> Vedanti Bhatkar</li>
              <li><i class="ri-check-double-line"></i> Payal Chavan</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </section><!-- End About Us Section -->