<button class="open-button" onclick="openForm()"><i class="bi bi-chat-fill"></i></button>
<div class="chat-popup" id="myForm">
  <form class="form-container" id="myform">
    <div class="col-md-5">
      <div class="widget">
        <div class="chat_header">
          <!--Add the name of the bot here -->
          <label style="color:cornsilk;margin-left: 5px; margin-left: 30px; margin-top: 12px">
            <b>Bank</b>
          </label> 
          <button onclick="closeForm()" id="clsbtn" >
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </div>
        <!--Chatbot contents goes here -->
        <div class="chats" id="chats">
          <div class="clearfix"></div>
        </div>
        <!--user typing indicator -->
        <div class="keypad">
          <input type="text" id="keypad" class="speech-input" placeholder="Type a message..." autocomplete="off">
        </div>
      </div>
    </div>
  </form>
</div>