<section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Moratotium Chatbot</h1>
          <h2>Chat & Apply for Moratorium Easily</h2>
          <div class="d-lg-flex">
            <a  href="javascript:;" data-toggle="modal" data-target="#myModal" class="btn-get-started scrollto">Log In<img src="assets/img/login.png" alt="" class="img-fluid"></a>
            <a href="https://www.youtube.com/watch?v=hhX6Ou0hlg0" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/emi_moratorium.png" class="img-fluid animated" alt="" style="height: 350px; width: 400px;">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->