

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">

      <div class="modal-body login-snip">
        <button type="button" class="close" data-dismiss="modal" ><i class="bi bi-x-square-fill"></i></button>
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-space">
          <%- include('login_s.ejs') %>
          <%- include('reg.ejs') %>
        </div>
      </div>
  </div>
</div>
</div>